body {
  height: auto;
  width: 15rem;
}

#body {
    color: #f1f1f1;
    padding: 1rem;
    background-color: #333;
}

.input {
  padding-top: 1rem;
}

.start-btn {
  padding-top: 1.5rem;
}

.input-group .btn {
  margin-top: 1.5rem;
  width: 100%;
}